autostart
BraveSoftware
BraveSoftware
cef_user_data
cef_user_data
chromium
Code
dconf
enchant
eog
envice
evolution
expressvpn
FireDM
gedit
GIMP
gnome*
goa*
google-chrome
gtk*
htop
ibus
kdeconnect
libreoffice
obs-studio/logs
obs-studio/plugin_config
obs-studio/profiler_data
opera
paradox-launcher*
pulse
Qt*
Raspberry Pi
unity3d
update-notifier
VirtualBox
vivaldi
VSCodium
yelp